# Dependencies
**/node_modules/

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/*.log

# Environment files
**/.env
**/.env.*
!**/.env.example

# Build outputs
**/dist/
**/build/
**/.expo/
**/android/app/build/
**/ios/build/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Temporary
*.tmp
*.swp
~$*

# Local git backup folders
**/.git_backup_mono/
